---

---
<nav data-role="appbar" data-expand-point="md" class="pt-2 pb-3" style="--appbar-background: hsla(0, 74%, 7%, 1); --appbar-item-background-hover: #a11212;">
    <a href="/" class="no-decor app-bar-item-static">
        <img class="appbar-logo" src="/logo.svg" alt="Metro UI Logo"/>
        <span class="appbar-logo-text fg-white">Metro UI</span>
    </a>

    <div class="app-bar-container ml-auto">
        <ul class="app-bar-menu">
            <li><a href="https://panda.metroui.org.ua" target="_blank">Demo</a></li>
            <li><a href="https://v5.metroui.org.ua/getting-started/quick-start/" target="_blank">Quick Start</a></li>
            <li><a href="https://t.me/Metroui_Assistant_bot" target="_blank">AI Assistant</a></li>
            <li><a href="https://latte.org.ua" target="_blank">Latte</a></li>
            <li><a href="https://v5.metroui.org.ua" target="_blank">Docs</a></li>
            <li><a href="/donate">Donate</a></li>
        </ul>
    
        <button class="small flat bg-dark-red-hover"><span class="mif-github"></span></button>
        <button class="small flat bg-dark-red-hover"><span class="mif-discord"></span></button>
    </div>
</nav>

<style>
    .appbar-logo {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
    .appbar-logo-text {
        font-size: 18px;
        font-weight: 700;
        margin-left: 8px;
    }
</style>