---

---
<nav data-role="appbar" data-expand-point="md" class="pt-2 pb-3" style="--appbar-background: hsla(0, 74%, 7%, 1); --appbar-item-background-hover: #a11212;">
    <a href="/" class="no-decor app-bar-item-static">
        <img class="appbar-logo" src="/logo.svg" alt="Metro UI Logo"/>
        <span class="appbar-logo-text fg-white">Metro UI</span>
    </a>

    <div class="app-bar-container ml-auto">
        <ul class="app-bar-menu">
            <li><a href="/" target="_blank">Home</a></li>
            <li>
                <a href="#" class="dropdown-toggle">On this page</a>
                <ul data-role="dropdown" class="d-menu">
                    <li><a href="#main">Main</a></li>
                    <li><a href="#struct">Structure</a></li>
                    <li><a href="#started">Start</a></li>
                    <li><a href="#components">Components</a></li>
                    <li><a href="#i18n">i18n</a></li>
                    <li><a href="#css">CSS</a></li>
                    <li><a href="#icons">Icons</a></li>
                </ul>
            </li>
            <li><a href="https://panda.metroui.org.ua" target="_blank">Demo</a></li>
            <li><a href="https://latte.org.ua" target="_blank">Latte</a></li>
            <li><a href="https://v5.metroui.org.ua" target="_blank">Docs</a></li>
            <li><a href="/donate" class="fg-orange">Donate</a></li>
        </ul>
    
        <a href="https://github.com/olton/metroui" class="button small flat bg-dark-red-hover"><span class="mif-github"></span></a>
        <a href="https://discord.gg/cxrhV7pGG8" class="button small flat bg-dark-red-hover"><span class="mif-discord"></span></a>
    </div>
</nav>

<style>
    .appbar-logo {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
    .appbar-logo-text {
        font-size: 18px;
        font-weight: 700;
        margin-left: 8px;
    }
</style>