---
const {viewStyle = "dash"} = Astro.props;
const className = `cutter ${viewStyle} mt-6`;
---
<div class={className} style="--cutter-line-color: var(--border-color); --cutter-line-width: 1px"></div>