---

---

<footer>
    <div class="container">
        <div class="d-flex flex-center">
            <span class="h3">
                <span class="fg-blue">Made in </span><span class="fg-yellow">Ukraine</span>
            </span>
        </div>
        <div class="d-flex flex-center mt-5">
            <span class="mr-1">Copyright 2012-2025 by</span> <a href="https://pimenov.com.ua/">Serhii Pimenov</a>
        </div>
        <div class="d-flex flex-center">
            <span class="mr-1">Illustrations by</span> <a href="https://www.manypixels.co/">ManyPixels</a>
        </div>
        <div class="d-flex flex-center">
            <span class="mr-1">Built with</span> <a href="https://metroui.org.ua/">Metro UI</a>
            <span class="mr-1">,</span>
            <span class="mr-1">Powered by</span> <a href="https://astro.dev/">Astro</a>
        </div>
        <div class="d-flex flex-center mt-10">
            <ul class="inline-list d-flex flex-justify-center reduce-1 mt-0">
                <li><a href="https://mirohost.net/" class="fg-cyan no-decor">Hosting by Mirohost</a></li>
                <li>•</li>
                <li><a href="https://www.keycdn.com/" class="fg-cyan no-decor">CDN by KeyCDN</a></li>
                <li>•</li>
                <li><a href="https://www.jetbrains.com/webstorm" class="fg-cyan no-decor">IDE by JetBrains</a></li>
            </ul>
        </div>
        <div class="text-center mt-10 reduce-4">
            Metro UI Codebase licensed under <a class="fg-white" href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">MIT</a>,
            Docs licensed by <a class="fg-white" href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
        </div>
    </div>
</footer>

<style>
    footer {
        margin-top: auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: #d2ffff;
        padding: 20px 10px;
        width: 100%;
    }
</style>

<script src="/metro.js" is:inline></script>
