---
import {Image} from "astro:assets";
import i18nImage from "../assets/i18n.svg";
---
<div class="container mt-6 mb-6 scroll-target" id="i18n">
    <div class="row">
        <div class="cell-md-6 order-2 order-1-md">
            <div class="display4 mt-0">i18n</div>
            <div class="text-leader2 mt-2">
                <p>Metro UI provides comprehensive internationalization (i18n) support, allowing you to create multilingual web applications with ease. 
                <p>The framework includes built-in localization capabilities for all components who need it (calendar, date picker, wizards, ...).
                <p>The i18n system in Metro UI is designed to be flexible and developer-friendly. It uses a simple JSON-based translation structure.
                <p>Using the Metro UI Internationalization System, you will lightly create a multi-pagan application in which the language switches <span class="text-weight-9">without restarting the page</span>. 
            </div>
            <div class="mt-4">
                <a href="https://v5.metroui.org.ua/getting-started/i18n/" class="button pill-button bg-default">
                    <span class="caption">Read More</span>
                    <span class="icon mif-arrow-right"></span>
                </a>
            </div>
        </div>
        <div class="cell-md-6 d-flex flex-column flex-center order-1 order-2-md">
            <Image src={i18nImage} alt="i18n Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e); height: 300px; width: 300px"/>
        </div>
    </div>
</div>