---
import {Image} from "astro:assets";
import IconsImage from "../assets/icons.png"
---
<div class="container mt-6 mb-6 scroll-target" id="icons">
    <div class="row">
        <div class="cell-md-7 pl-10-md order-2 order-1-md">
            <div class="display4 mt-0">Icons</div>
            <div class="text-leader2 mt-2 pr-10-md">
                <p>Metro Icons is an open source SVG icon library (packed in font file) featuring over 900+ glyphs. 
                Use them as icon font options give you vector scaling and easy customization via CSS. 
                <p>You can include icons in your project either using a CDN or using your favorite bundler.
                <p>All icons are carefully selected in such a way as to cover most of the developers' needs.</p>
            </div>
            <div class="mt-4">
                <a href="https://panda.metroui.org.ua/mif/core-pack" class="button pill-button bg-default">
                    <span class="caption">View Icons</span>
                    <span class="icon mif-arrow-right"></span>
                </a>
            </div>
        </div>
        <div class="cell-md-5 d-flex flex-column flex-center order-1 order-2-md">
            <Image src={IconsImage} alt="Icons Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
        </div>
    </div>
</div>