---

---
<div class="mt-20 mb-20 container-fluid">
    <div class="container pt-4 pb-4 border-left border-right bd-default border-radius-10 bg-pattern-mountain">
        <div class="row flex-center">
            <div class="cell-md-6 text-center">
                <div class="h1 text-light">Need comfortable testing?</div>
                <div>
                    <div><a href="https://latte.org.ua" target="_blank" class="text-weight-9">Latte Test System</a> - is a powerful testing framework for JavaScript, TypeScript, HTML, and React from Metro UI author.</div>
                    <div class="mt-4">
                        <a href="https://latte.org.ua" target="_blank" class="button pill-button info">
                            Get Latte
                            <span class="icon mif-external"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>