---
import {Image} from "astro:assets";
import KeyImage from "../assets/keycdn.svg"
import JetbrainsImage from "../assets/jetbrains.svg"
import MirohostImage from "../assets/mirohost.svg"
---
<div class="container mt-20">
    <h2 class="text-center">Technical Partners</h2>
    <ul class="inline-list d-flex flex-center gap-10 mb-10">
        <li><a href="https://keycdn.com">
            <Image src={KeyImage} width="200" height="200" alt="KeyCDN.com" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
            <div class="text-center fg-white mt-4">CDN provider</div>
        </a></li>
        <li class="ml-10 mr-10"><a href="https://jetbrains.com">
            <Image src={JetbrainsImage} width="200" height="200" alt="JetBrains.com" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
            <div class="text-center fg-white mt-4">IDE distributor</div>
        </a></li>
        <li><a href="https://mirohost.net">
            <Image src={MirohostImage} width="200" height="200" alt="Mirohost.net" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
            <div class="text-center fg-white mt-4">Hosting Provider</div>
        </a></li>
    </ul>
</div>