---
import {Image} from "astro:assets"
import Css3Image from "../assets/css3.png"
---
<div class="container mt-20">
    <div class="row">
        <div class="cell-md-4 d-flex flex-center">
            <Image src={Css3Image} alt="CSS3" style="filter: drop-shadow(0 0 0.75rem #4eb2ff);"/>
        </div>
        <div class="cell-md-1"></div>
        <div class="cell-md-7">
            <div class="display4 mt-0">Styling</div>
            <div class="text-leader2 mt-2">
                Metro UI provide dozens of variables for colors, font styles, and more at a <span class="text-weight-9 fg-red">:root</span> level for use anywhere. Variables are divided into global and component variables.
            </div>
            <div class="text-leader2 mt-2">
                All components support dark and light mode. In Metro UI light mode is default. 
                For dark mode you can define variables inside a <span class="text-weight-9 fg-red no-wrap">.dark-side</span> class.            
            </div>
            <div class="text-leader2 mt-2">
                All variables detailed described in the <a href="https://v5.metroui.org.ua">documentation</a>.
            </div>
            <div class="enlarge-2 mt-2" data-role="directive" data-directive="info" data-style="2" data-title="For information">
                You can always redefine CSS variables to create your one color scheme for any component.            
            </div>
        </div>
    </div>
</div>