---
import {Image} from "astro:assets"
import StyleImage from "../assets/styling.svg"
---
<div class="container mt-6 mb-6">
    <div class="row">
        <div class="cell-md-4 d-flex flex-column flex-center">
            <Image src={StyleImage} alt="Style Image" style="filter: drop-shadow(0 0 0.75rem #ff4e4e);"/>
        </div>
        <div class="cell-md-1"></div>
        <div class="cell-md-7 pl-10-md">
            <div class="display4 mt-0">CSS Style</div>
            <div class="text-leader2 mt-2">
                Metro UI provide dozens of variables for colors, font styles, and more at a <span class="text-weight-9 fg-red">:root</span> level for use anywhere. Variables are divided into global and component variables.
            </div>
            <div class="text-leader2 mt-2">
                All components support dark and light mode. In Metro UI light mode is default. 
                For dark mode you must (re)define variables inside a <span class="text-weight-9 fg-red no-wrap">.dark-side</span> class.            
            </div>
            <div class="mt-4">
                <a href="https://v5.metroui.org.ua/getting-started/theming-components/" class="button pill-button bg-default">
                    <span class="caption">Read More</span>
                    <span class="icon mif-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>